/* div#target { content: 'A' }  */

h1#target::after { content: " for You"; color: red}
h1#target::before { content: 'An '; color: blue}

/* adding parent
div#target::outside { display: block; border: dashed; }
*/

/* div#target::before::before { content: 'C'; } */
