div.scrollbox
{  width: 500px; overflow: hidden;
   border: 1px solid darkblue;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   border-left: 50px solid transparent;
   border-right: 50px solid transparent;
} 

div.scrollbox > div
{  color: darkblue; font-family: Arial, Helvetica, sans-serif;
   font-size: medium; white-space: nowrap; margin-left: 0px;
}
