div#sd 
{  -moz-transition: all 1s ease-in-out; 
   -webkit-transition: all 1s ease-in-out; 
   -o-transition: all 1s ease-in-out; 
   -ms-transition: all 1s ease-in-out; 
   transition: all 1s ease-in-out; 
   width: 120px;  height: 200px;
   background-color: darkorange;
   margin:20px;
}

div#sd:hover 
{ -moz-transform: rotate(90deg); 
  -webkit-transform: rotate(90deg); 
  -o-transform: rotate(90deg); 
  -ms-transform: rotate(90deg); 
  transform: rotate(90deg); 
}

