section#show a
{ display: inline-block;
  vertical-align: baseline;
  outline: none;
  text-align: center;
  color: black;
  text-decoration: none;
  font: 20px Arial, Helvetica, sans-serif;
  padding: 1em 3em 1em;
  border-radius: .5em;
  background-color: #ddd;
}
section#show a.out { box-shadow: -3px -3px 0 3px #888 inset; } 
section#show a.in { box-shadow: 3px 3px 0 3px #888 inset; } 
