@import url("menulabel.css");

nav.menu
{  font-size: x-small;
   width: 10em;
   position: absolute;
   background-color: #def;  
   color: white;
   padding: 1px;
   display: none;
   top: 0px; 
   left:0px;
}

nav.menu a:link,
nav.menu a:visited
{  padding-top: 2px;
   padding-bottom: 2px;
   color: #000;
   width: 100%;
   text-decoration: none;
   display: block;
   white-space: nowrap;
   font-weight: bold;
}

nav.menu a:hover
{  color: white;
   background-color: darkblue;
}
