@import url("vbar.css");

nav.leftnavbar span.menulabel
{  display: block;
   text-decoration: none;
   color: white;
   border: thin solid transparent;
   margin-top: 2em;
   padding-right: 0.5em;
}

nav.leftnavbar span.menulabel:hover
{
   border: thin solid white;
}
